
.gym_card{
    border-radius: 25px !important;
    overflow: hidden!important;
    background: #fff;
    text-align: center!important;
    border-radius: 18px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
    align-items: center;
}
.card_container{
    width: 265px!important;
}
div.gym_card-icon{
    width: 136px;
    height: 136px;
}
.card-title{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-align: center;
    color: #1a1a1a !important;
    height: 100px;
    padding:0 !important;
    margin-top: 30px;
    flex:none!important;
}
.card-body:after{
        content: "Hot Deals";
        width: 100%;
        background-color: #62bd7a;
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        z-index: 1;
        height: 40px;
        right: 0;
        color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 22px;
        font-weight: 500;
        font-family: concon,sans-serif!important;
        letter-spacing: 2.75px;
}